In [2]:
import pandas as pd

## Series

In [3]:
data = [1,2,3,4,5]

In [4]:
s = pd.Series(data)

In [5]:
s

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [7]:
index = ['Linha' + str(i) for i in range(5)]

In [8]:
index

['Linha0', 'Linha1', 'Linha2', 'Linha3', 'Linha4']

In [9]:
s = pd.Series(data, index)

In [10]:
s

Linha0    1
Linha1    2
Linha2    3
Linha3    4
Linha4    5
dtype: int64

In [11]:
data = {'Linha' + str(i) : i + 1 for i in range(5)}

In [12]:
data

{'Linha0': 1, 'Linha1': 2, 'Linha2': 3, 'Linha3': 4, 'Linha4': 5}

In [13]:
s = pd.Series(data)
s

Linha0    1
Linha1    2
Linha2    3
Linha3    4
Linha4    5
dtype: int64

In [14]:
s1 = s + 2

In [16]:
s1

Linha0    3
Linha1    4
Linha2    5
Linha3    6
Linha4    7
dtype: int64

## Data Frames

In [30]:
data = [[1,2,3],
        [4,5,6],
        [7,8,9]]

In [31]:
data

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [32]:
df1 = pd.DataFrame(data = data)

In [33]:
df1

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [34]:
index = ['Linha' + str(i) for i in range(3)]

In [35]:
index

['Linha0', 'Linha1', 'Linha2']

In [36]:
df1 = pd.DataFrame(data = data, index = index)

In [37]:
df1

        0  1  2
Linha0  1  2  3
Linha1  4  5  6
Linha2  7  8  9

In [38]:
columns = ['Coluna' + str(i) for i in range(3)]

In [39]:
columns

['Coluna0', 'Coluna1', 'Coluna2']

In [41]:
df1 = pd.DataFrame(data = data, index = index, columns = columns)

In [42]:
df1

        Coluna0  Coluna1  Coluna2
Linha0        1        2        3
Linha1        4        5        6
Linha2        7        8        9